@import url(./base.css);

body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: green;
    font-family: 'Anonymous Pro', monospace;
}

#matrix {
    position: relative;
    width: 100%;
    height: 100vh;
}

.character {
	font-weight: 600;
    position: absolute;
    font-size: 16px;
    user-select: none;
    position: absolute;
    transition: all 0.3s ease;
}
